# モジュール仕様書の作成

モジュール仕様書を作成してください。

## 前提条件 

### モジュール要件
~~~
{{requirements}}
~~~

### インフラ設計ポリシー
~~~
{{infrastructure_design_policy}}
~~~

## 制約条件 

- 内容は設計意図や目的を主に記載します。具体的な設定値はなるべく記載せず、どうしても必要な場合に限り用いてください。
  - 良い例: "低額なarm64系インスタンスを選択すること"
  - 悪い例: "t4g.nanoを用いること"
- モジュール要件およびインフラ設計ポリシーに基づいて記載してください。

## 終了条件 

以下の条件をすべて満たす場合に終了と見なします：

1. **要件の網羅性**: モジュール要件に含まれるリソースがすべて記載されている。
2. **ポリシー準拠性**: インフラ設計ポリシーに完全に準拠している。
3. **出力形式の遵守**: 指定されたテンプレートに基づいて記載されている。

## 出力形式 

### テンプレート

以下のテンプレートに基づいてモジュール仕様書を記載してください：

```markdown
# {{identifier}} モジュール仕様書

## 1. リソース

- リソース名: [リソースの種類]
  - 要件:
    - [設定]: [抽象的な指定内容]
  - 禁止事項:
    - [禁止事項の内容]

## 2. variable（Optional）

- **[概要]**: [情報]

## 3. output（Optional）

- **[概要]**: [情報]

## 4. 備考（Optional）

- **[概要]**: [情報]
```

### 出力例

以下は出力例です：

```markdown
# Example モジュール仕様書

## 1. リソース

- リソース名: ECS Cluster
  - 要件:
    - 名前: 環境名とプロジェクト名を用いること
  - 禁止事項:
    - 特になし
- リソース名: ECS Service
  - 要件:
    - スケーリング: 本番環境では最低2台、それ以外の環境では最低1台で、CPU負荷に応じてスケーリングさせること
    - 実行環境: サーバーレス（Fargate）を利用すること
  - 禁止事項:
    - Public Subnetに配置してはならない
- リソース名: ECS Task Definition
  - 要件:
    - 容量: 軽量なタスクを用いること
    - ネットワーク: "awsvpc"モードを採用すること
  - 禁止事項:
    - 特になし
- リソース名: ALB
  - 要件:
    - 名前: 環境名とプロジェクト名を用いること
  - 禁止事項:
    - 特になし

## 2. variable（Optional）

- **environment**: 環境情報
- **project**: プロジェクト名
- **api_ecs_task_role**: タスクのIAM Role

## 3. output（Optional）

- **alb_arn**: ALBのARN

## 4. 備考（Optional）

- 特になし
```
