# モジュール仕様書の突合せと修正

コードを元にしてモジュール仕様書の修正案を提示してください。

1. モジュール仕様書を比較し、不整合箇所を特定してください。
2. 以下のルールに従い、設計書の修正内容を提示してください
   - **追加**: コードで実装されているが設計書にない記述を追加する。
   - **削除**: コードで実装されていないが設計書にある記述を削除する。
   - **修正**: コードの実装と設計書で内容が異なる記述を、コードに基づいて修正する。

## 前提条件

### モジュール仕様書

~~~
{{specification}}
~~~

### コード

### main

```
{{main_code}}
```

#### variable

```
{{variable_code}}
```

#### output

```
{{output_code}}
```


## 制約条件

- コードのほうを修正してはいけません

## 終了条件

修正後の設計書が以下を満たしている場合に終了と見なします：

1. モジュール仕様書の不整合箇所がすべてコードに合わせた状態でリストアップされ、その修正方法が提案されている

## 出力形式

- 設計書のフォーマットは、既存の設計書のフォーマットに合わせてください。