# Terraformコードチェック

下記のHCLで書かれたリソースブロックについて、改善できる点や設定漏れがないかチェックし、結果を出力してください。

## 前提条件 

~~~
{{ value }}
~~~

## 終了条件 

以下の条件をすべて満たすコードが生成された場合に終了と見なします。

1. **改善点の取得**: 改善できる点や設定漏れがないかチェックする

## 出力形式 

箇条書きで出力してください。
変更すべき点がある場合は、それらを反映した後のコードも出力してください。
